/*###################################################################
Observation Container
###################################################################*/

.observation-container {
    background-color: black;
    padding-top: 210px;
    padding-bottom: 210px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
}

.observation-container h2 {
    text-align: center;
    color: #fff;
    font-family: 'Akkurat', sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    font-size: 47px;
    margin: 0;
    margin-bottom: 50px;
}

.observe-body {
  border: 1px solid red;
  width: 100%;
}

.observation-container ::-webkit-input-placeholder {
   font-family: 'Akkurat', sans-serif;
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.observation-container :-moz-placeholder { /* Firefox 18- */
   font-family: 'Akkurat', sans-serif;  
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.observation-container ::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Akkurat', sans-serif;  
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.observation-container :-ms-input-placeholder {  
   font-family: 'Akkurat', sans-serif;  
   text-transform: lowercase;
   color: #515050;
   font-weight: 300;
}

.inputSection span {
    font-size: 25px;
    font-family: 'Akkurat', sans-serif;
    color: #515050;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.buttonSection {
  
  margin-top: 100px;
  margin-bottom: 100px;
}

.buttonSection button {
	background-color: #C24848;
    border: 1px solid #000;
    border-radius: 5px;
	height: 3em;
    width: 100%;
    text-transform: lowercase;
	font-family: 'Akkurat', sans-serif;
	font-weight: 200;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 25px;
	padding: 0.53em 25px;
  margin: 0 25px 0 25px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.buttonSection button:hover {
	-webkit-box-shadow: 5px 5px 15px rgba(0,0,0, 0.4) inset;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.8) inset;
	text-shadow: 1px 1px 3px rgba(0,0,0, 0.8);
}


/* use this to get basic styling on all basic form elements */
span[type="observe"] {
  -webkit-appearance: none;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: white;
  font-family: inherit;
  border: 0px solid #cccccc;
  -webkit-transition: -webkit-box-shadow 2s; /* Safari */
  transition: box-shadow 2s;
  -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25) inset,  0 0 200px 20px rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25) inset,  0 0 200px 20px rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 2em;
  margin: 100px 0 100px 0;
  padding: 0.25em;
  height: 3em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 

  }

  span[type="observe"]:focus,
  textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #999999; }

  span[type="observe"]:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }

  span[type="observe"][disabled] {
    background-color: #dddddd; }
