<section id="team" class="container content-section text-center">
  <!-- section title -->
  <div class="row">
    <h2>The Team</h2>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <!-- team member list -->
    <ul class="list-group">

      <!-- jordan block -->
      <li class="list-group-item team-list-item">
        <div class="row">

          <!-- pic column -->
          <div class="col-sm-4">
            <p class="lead">Jordan Cote</p>
          </div>
          <div class="col-sm-1">
            <p><a href="mailto:jordan@bankhead.org"><i class="fa fa-envelope fa-3x"></i></a>
            </p>
            </div>
            <!-- info column -->
            <div class="col-sm-7">
              <p>
                Jordan 
              </p>
            </div>
          </div>
        </li>

        </ul>
      </div>
    </section>